<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Sakila Rental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Pricing</a>
        </li>
      </ul>
      <form class="d-flex">
        <!--input class="form-control me-sm-2" [(ngModel)]="valor_busqueda" type="text" placeholder="Search"-->
        <input type="text" name="search" [(ngModel)]="search" placeholder="Search" class="form-control me-sm-2">
        <button class="btn btn-secondary my-2 my-sm-0" (click)="buscar_pelicula_titulo()">Search by title</button>
        <button class="btn btn-secondary my-2 my-sm-0" (click)="buscar_pelicula_actor()">Search by actor</button>
      </form>
    </div>
  </div>
</nav>
<p *ngIf="busqueda">Resultados de búsqueda:</p>
<p *ngIf="busqueda && films == 0" style="color: red;">No encontrado {{search}}</p>
<div class="col-md-4" *ngFor='let film of films'>
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{film.title}}
    </div>
    <div class="card-body">
        <p>{{film.description}}</p>
        <h6>{{film.language}}</h6>
        <h6>{{film.rating}}</h6>
        <h6>{{film.length}} min.</h6>
        <h6>{{film.special_features}}</h6>
        <h5>{{film.release_year}}</h5>
        <button class="btn btn-info btn-block">Add to Cart</button>
    </div>
</div>
</div>
